@model IPagedList<MoneyTemplate.Models.ViewModels.ChargeViewModel>


<div class="row">

    <table class="table table-bordered table-hover" id="money-list">
        <tr>
            <th width="5%">#</th>
            <th width="30%">類別</th>
            <th>日期</th>
            <th width="30%">金額</th>
        </tr>

        @foreach (var item in Model)
            {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.Category)</td>
                <td>@Html.DisplayFor(modelItem => item.Date, "DateTimePartialView")</td>
                <td>@Html.DisplayFor(modelItem => item.Money,"DecimalPartialView")</td>
            </tr>
        }
    </table>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>

